  /* Make the image fully responsive */
  html, body {
    color: #636b6f;
    font-family: 'Vollkorn', serif;
    margin: 0;
}

.carousel-img {
    height: 425px;
    width: 100%;
}

.nav-dark {
  background-color: #721c24!important;
}

h2 {
  color: #721c24;
  font-family: 'Cardo', serif;;
  letter-spacing: normal !important;
}

p {
  color: #721c24;
  /*font-family: 'Roboto', cursive;*/
  font-size: 100%;
  font-weight: initial !important;
  letter-spacing: normal !important;
}

a {
  color: grey;
}

.btn > a {
  color: #ffffff;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-display {
  display: inline;
}
.bs-callout {
    padding: 20px 10px 10px 20px;
    margin: 20px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #7b0d0d;
    border-image: none;
    border-radius: 0;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.176);
}

.bs-callout > h4 {
  color: #7b0d0d;  
}

.email {
  color: #151556;
  font-weight: 800;
  font-size: 18px;
}
h1 {
  color: #7b0d0d;
}

h5 {
  color: #721c24;
  font-family: 'sans-serif', cursive;
  letter-spacing: normal !important;
}

.font-color {
  color: #721c24;
}

.size {
  font-family: 'Roboto', cursive;
  font-size: 14px;
}

.horoscope-img {
  width: 341px; 
  height: 200px; 
  float: left; 
  margin: 6px 6px 6px 0px;
}

.thank-you {
  text-align: center;
  font-size: 16px; 
  font-weight: bold; 
  color: #7b0d0d;
}

div-table4 {
  width: 45%;
  margin-left: 25%;
}

.btn-service {
  box-shadow: 0 5px #7b0d0d;
  background: #7b0d0d;
  color: #ffffff;
  border-radius: 14px;
  padding: 0px 15px;
  vertical-align: center;
}

.para {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Merriweather', sans-serif;
}

.templeActivities {
  color: #721c24;
  font-family: 'Roboto', cursive;
  font-size: 14.5px;
  font-weight: initial !important;
  letter-spacing: normal !important; 
}

.col1 {
  width: 20%;
  vertical-align: 0px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.giftaid {
  float: left;
  margin-top: 0px;
  margin-right: 8px;
}

.sign-off {
  margin-top: 40px;  
}

.inavlid-feedback {
  color: red;
}

.subPages {
  padding: 20px 10px 10px 20px;
  margin: 20px 0px;
  border: 1px solid #7b0d0d;
  border-radius: 0px 20px;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.176);
}

.home-gallery {
  margin: 20px 15% 0px;
}

.item {
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  margin-top: 25px;
}

.item img {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.item img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.centered {
  position: absolute;
  top: 50%;
  left: 35%;
  text-emphasis: none;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 24px;
  }

.img-thumbnail {
  border: 0px;
  border-radius: 0px;
  height: 250px;
  width: 250px;
}

.pagination {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.img-gallery {
  border: 0px;
  border-radius: 0px;
  height: 50px;
  width: 50px;
}

.back-color {
   background-color: #ecdbdd;
}

.volunteer {
  font-weight: 100;
  font-size: 16px;
  color: #7b0d0d;
}

.gallery-name {
  font-size: 24px;
  color: #7b0d0d;
  font-weight: bolder;
}